@page
@model Webshop.UI.Pages.Admin.IndexModel
@{
}
<div id="app">
    <div>
        <input v-model="productViewModel.name" />
        <input v-model="productViewModel.description" />
        <input v-model="productViewModel.value" />
        <button v-on:click="createProduct">Create new product</button>
        <button v-on:click="updateProduct">Update product</button>
    </div>
    <div>
        <p v-for="(product, index) in products">
            {{product.id}} - {{product.name}} - {{product.description}}
            <a v-on:click="editProduct(product.id,index)" style="color:cornflowerblue;">Edit</a>
            <a v-on:click="deleteProduct(product.id,index) "style="color:red;">Remove</a>
        </p>
    </div>
</div>


@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="~/js/Admin/AdminMain.js"></script>
}



