@page
@model Webshop.UI.Pages.Admin.StockModel
@{
}
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <ul style="list-style-type:none">
                <li><label style="font-size:25px;">Admin Menu</label></li>
                <li><a asp-page="/Admin/Index" style="font-size:20px;">Products</a></li>
                <li><a asp-page="/Admin/Stock" style="font-size:20px;">Stock</a></li>
                <li><a asp-page="/Admin/Orders" style="font-size:20px;">Orders</a></li>
            </ul>
        </div>
        <div class="col-sm-9">
            <h2>Stock</h2>
        </div>
    </div>
</div>