@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    @{
        foreach (var Product in Model.Products)
        {
            <p>
                @Product.Name || @Product.Description || @Product.Value
            </p>
        }
    }
</div>
