@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    @{
        foreach (var Product in Model.Products)
        {
            <a asp-page="Product" asp-route-name="@Product.Name.Replace(" ", "-")">
                @Product.Name || @Product.Description || @Product.Value
            </a>
            <br>
        }
    }
</div>
