@page
@model Webshop.UI.Pages.ShoppingCartModel
@{
}

<div>
    @foreach (var cartItem in Model.Cart)
    {
        <label style="font-weight:bold">Product</label>
        <p>@cartItem.Name</p>
        <label style="font-weight:bold">Value</label>
        <p>@cartItem.Value</p>
        <label style="font-weight:bold">Quantity</label>
        <p>@cartItem.Quantity</p>
        <label style="font-weight:bold">StockId</label>
        <p>@cartItem.StockId</p>
        <hr />
    }

</div>
