@page
@model Webshop.UI.Pages.ShoppingCartModel
@{
}

<div>
    <label style="font-weight:bold">Product</label>
    <p>@Model.Cart.Name</p>
    <label style="font-weight:bold">Value</label>
    <p>@Model.Cart.Value</p>
    <label style="font-weight:bold">Quantity</label>
    <p>@Model.Cart.Quantity</p>
    <label style="font-weight:bold">StockId</label>
    <p>@Model.Cart.StockId</p>
</div>
